<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CIS" value="190190001488331" />
    <add key="ID" value="test202001yc.y.1901" />
    <add key="PayAccNo" value="1901018609100152155" />
    <add key="PayAccName" value="袋两裹煮佩拦挺担个撒厘魏输移氯" />
    <add key="RecAccNo" value="9558800200147745380" />
    <add key="RecAccName" value="疆娇" />
    <add key="PostAddress" value="111.229.100.96" />
    <add key="HpptPort" value="448" />
    <add key="SignPort" value="449" />
    <add key="TestEnvironmentDate" value="20200630" />
    <add key="ContrNo" value="CHA534343"/>
    <add key ="ContractNo" value="BDP300383389"/>
    <add key="PersonNo" value="aaa20200204002"/>
    <add key="MCardNo" value="9558851901000246741"/>
    <add key="MCardName" value="永州烟草公司"/>
  </appSettings>
</configuration>
<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CIS" value="190190001488331" />
    <add key="ID" value="YcGjkFour202005.y.1901" />
    <add key="PayAccNo" value="1901018609100152155" />
    <add key="PayAccName" value="袋两辐韦韦诬履增魏输移氯" />
    <add key="RecAccNo" value="9558800200147745380" />
    <add key="RecAccName" value="疆娇" />
    <add key="PostAddress" value="127.0.0.1" />
    <add key="HpptPort" value="448" />
    <add key="SignPort" value="449" />
    <add key="TestEnvironmentDate" value="20200930" />
    <add key="ContrNo" value="CHA534343"/>
    <add key ="ContractNo" value="BDP300383389"/>
    <add key="PersonNo" value="aaa20200204002"/>
    <add key="MCardNo" value="9558851901000246741"/>
    <add key="MCardName" value="永州烟草公司"/>
  </appSettings>
</configuration>-->
<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CIS" value="190190001325933" />
    <add key="ID" value="jsj202006.y.1901" />
    <add key="PayAccNo" value="1901008019200101142" />
    <add key="PayAccName" value="袋两裹煮佩拦挺担个撒厘魏输移氯" />
    <add key="RecAccNo" value="9558800200147745380" />
    <add key="RecAccName" value="疆娇" />
    <add key="PostAddress" value="111.229.100.96" />
    <add key="HpptPort" value="448" />
    <add key="SignPort" value="449" />
    <add key="TestEnvironmentDate" value="20200630" />
    <add key="ContrNo" value="CHA534343"/>
    <add key ="ContractNo" value="BDP300383389"/>
    <add key="PersonNo" value="aaa20200204002"/>
    <add key="MCardNo" value="9558851901000246741"/>
    <add key="MCardName" value="永州烟草公司"/>
  </appSettings>
</configuration>-->







